// --------------------------------------------
// ### General
// --------------------------------------------

html, body {
  min-height: 100%;
}

// --------------------------------------------
// ### Floats
// --------------------------------------------

.float--left {
  float: left;
  margin: 0 $gutter $gutter 0;
  margin-left: -10em;
}

.float--right {
  float: right;
  margin: 0 0 $gutter $gutter;
  margin-right: -10em;
}

// --------------------------------------------
// ### Clearfix
// --------------------------------------------

%group {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
