%meta{charset: "utf-8"}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

%title Alejandra Luaces | The Iron Yard application

%script{:src => 'https://code.jquery.com/jquery-2.1.4.min.js'}
%script{:src => 'javascripts/mobilemenu.js' }
%script{:src => 'javascripts/prism.js' }
%script{:src => "//use.typekit.net/cmy3cch.js"}
:javascript
  try{Typekit.load();}catch(e){}

= stylesheet_link_tag "application", media: "screen"
