%nav.sideNav--tiny__nav
  %ul.sideNav__list
    %li.sideNav--tiny__item
      = link_to "http://github.com/alejandraluaces/TIY_Application/", class: "sideNav__icon" do
        %img{:src => "/images/icons/wrench.svg"}
    %li.sideNav--tiny__item
      = link_to "http://github.com/alejandraluaces/TIY_Application/", class: "sideNav__icon" do
        %img{:src => "/images/icons/airplane.svg"}
    %li.sideNav--tiny__item
      = link_to "http://github.com/alejandraluaces/TIY_Application/", class: "sideNav__icon" do
        %img{:src => "/images/icons/ribbon.svg"}
    %li.sideNav--tiny__item.locked
      %img.sideNav__icon{:src => "/images/icons/sliders.svg"}
    %li.sideNav--tiny__item.locked
      %img.sideNav__icon{:src => "/images/icons/megaphone.svg"}
    %li.sideNav--tiny__item.bottom
      = link_to "http://github.com/alejandraluaces/TIY_Application/", class: "sideNav__icon" do
        %img{:src => "/images/icons/wrench.svg"}

