.clip--speechBubble {
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 15% 65%, 0% 73%, 0% 75%, 0% 75%);
  width: 100%;
  margin-bottom: -40%;

  img & {
    width: 100%;
  }
}

.background--logo {
  position: fixed;
  opacity: .05;
  display: block;
  text-indent: -9999px;
  width: 500px;
  height: 430px;
  background: url('../images/icons/iron-yard-logo.svg');
  background-size: 500px 430px;
  right: $gutter;
  top: $gutter;
}
