.background--logo {
  position: fixed;
  opacity: .05;
  display: block;
  text-indent: -9999px;
  width: 500px;
  height: 430px;
  background: url('../images/icons/iron-yard-logo.svg');
  background-size: 500px 430px;
  right: $gutter;
  top: $gutter;
  z-index: -1;
}
