.logo {
  max-width: 200px;
  margin: 0 auto $gutter auto;
  text-align: center;

  img {
    width: 100%;
  }
}

.visuallyHidden {
  border: 0;
  clip-path: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
