// --------------------------------------------
// ### Headings
// --------------------------------------------

$sizes:
    scale--1 2.625em  $serif  map-get($fontWeight, bold)   false
  , scale--2 2.125em  $serif  map-get($fontWeight, bold)   false
  , scale--3 1.75em   $serif  map-get($fontWeight, bold)   false
  , scale--4 1.375em  $serif  map-get($fontWeight, light)  false
  , scale--5 1em      $serif  map-get($fontWeight, light)  false
  , scale--6 0.81em   $serif  map-get($fontWeight, bold)   false;

@each $scale in $sizes {
  .#{nth($scale, 1)} {
    font-size: #{nth($scale, 2)};
    font-family: #{nth($scale, 3)};
    font-weight: #{nth($scale, 5)};

    @if nth($scale, 5) {
      text-transform: uppercase;
    }
  }
}

// --------------------------------------------
// ### Misc
// --------------------------------------------

p {
  font-size: 1.25em;
  line-height: 1.6;
  margin-bottom: 1.6em;
}

%label {
  @extend .scale--6;
  color: darken($gray--light, 30%);
  font-family: $sansSerif;
  font-weight: 700;
  text-transform: uppercase;
}


// --------------------------------------------
// ### Syntax Highlighting
// --------------------------------------------

/* http://prismjs.com/download.html?themes=prism&languages=markup+css&plugins=line-numbers */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

pre {
  background-color: $brand;
  color: #707e84;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 24px 12px;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px 2px rgba(0,0,0,0.1);
  width: 100%;
  float: left;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #c66c75;
}

.token.punctuation {
  color: #adb8c4;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #6fbbb7;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #f2f4f5;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #d5927b;
}

.token.function {
  color: #ceae2c;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 17em;
  counter-reset: linenumber;
  margin-bottom: $gutter*2;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #50677c;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

  .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
  }

    .line-numbers-rows > span:before {
      content: counter(linenumber);
      color: #50677c;
      display: block;
      padding-right: 1.25em;
      text-align: right;
    }

