// --------------------------------------------
// ### Sidebar
// --------------------------------------------

.sideBar {
  @extend %flexboxGrid;
  flex-direction: row;
  height: 100vh;
  position: fixed;
}

.sideBar--big {
  @extend %flexboxGrid;
  flex-direction: column;
  align-items: center;
  padding: map-get($sidebar, padding);
  background-image:
    linear-gradient(
    to bottom left,
    lighten($brand, 10%), darken($brand, 10%)
  );
}

.sideBar--tiny {
  background-color: $gray--light;
}

.sideBar--tiny__logo {
  max-width: 60px;
  padding: .2em 0;
  border-bottom: map-get($borderWidth, thin) solid lighten($brand, 70%);

  img {
    width: 100%;
  }
}

.sideBar__heading {
  font-size: map-get($sideNav, headingSize);
  font-weight: map-get($fontWeight, bold);
  margin-bottom: map-get($sideNav, space)/2;
  color: $white;
}
