// --------------------------------------------
// ### Colors
// --------------------------------------------

$trueWhite: hsla(0, 100%, 100%, 1);
$white: hsla(0, 0%, 98%, 1);

$gray: hsla(211, 16%, 72%, 1);
$gray--dark: hsla(0, 0%, 33%, 1);
$gray--light: hsla(200, 13%, 95%, 1);
$black: hsla(0, 0%, 20%, 1);

$brand: hsla(202, 24%, 18%, 1);
$brand--light: #727d84;
$blue: hsla(198, 80%, 41%, 1);

$callout: hsla(176, 27%, 49%, 1);

// --------------------------------------------
// ### Fonts
// --------------------------------------------

$serif: 'ff-tisa-web-pro', 'Times New Roman', serif;
$sansSerif: 'ff-tisa-sans-web-pro', Helvetica, sans-serif;

$fontWeight: (
  bold: 700,
  light: 300
);

// --------------------------------------------
// ### Transitions
// --------------------------------------------

@mixin defaultTransition {
  transition: all .2s ease-in-out;
}

// --------------------------------------------
// ### Gutters
// --------------------------------------------

$gutter: 1.2em;

// --------------------------------------------
// ### Sizes
// --------------------------------------------

$borderWidth: (
  thin: 1px,
);

// --------------------------------------------
// ### Z-Index
// --------------------------------------------
