// --------------------------------------------
// ### General
// --------------------------------------------

$body: (
  color: $brand,
  fontFamily: $serif,
  fontWeight: map-get($fontWeight, light),
  fontSize: 100%,
  bg: $white
);

// --------------------------------------------
// ### Vanity
// --------------------------------------------

$selection: (
  bg: transparentize($callout, .3),
  color: $white
);
