// --------------------------------------------
// ### Sidebar
// --------------------------------------------

$sidebar: (
  color: $white,
  bg: $brand,
  padding: $gutter*2,
  hover: lighten($callout, 30%)
);

// --------------------------------------------
// ### Footer
// --------------------------------------------

$footerMain: (
  bg: $gray--light,
  color: $brand,
);
