.wrapper
  .article__label Lesson 1
  %h1 HTML Basics

  %p With our introduction to HTML and CSS complete, it’s time to dig a little deeper into HTML and examine the different components that make up this language.

  %p In order to start <a href="#">building websites</a>, we need to learn a little about which HTML elements are best used to display different types of content. It’s also important to understand how elements are visually displayed on a web page, as well as what different elements mean semantically.

  %p Using the proper element for the job goes a long way, and we’ll want to make well-informed decisions in the process.

.pre--full
  %pre.line-numbers
    %code.language-css
      :preserve
        #heart {
            position: relative;
            width: 100px;
            height: 90px;
            }
.wrapper
  %h2 Identifying divisions and spans
  %p Most elements are either block- or inline-level elements. What’s the difference?

  %p Block-level elements begin on a new line, stacking one on top of the other, and occupy any available width. Block-level elements may be nested inside one another and may wrap inline-level elements. We’ll most commonly see block-level elements used for larger pieces of content, such as paragraphs.

  %p Inline-level elements do not begin on a new line. They fall into the normal flow of a document, lining up one after the other, and only maintain the width of their content. Inline-level elements may be nested inside one another; however, they cannot wrap block-level elements. We’ll usually see inline-level elements with smaller pieces of content, such as a few words.
