.wrapper
  .article__label Lesson 1
  %h1 HTML Basics

  %p With our introduction to HTML and CSS complete, it’s time to dig a little deeper into HTML and examine the different components that make up this language.

  %p In order to start <a href="#">building websites</a>, we need to learn a little about which HTML elements are best used to display different types of content. It’s also important to understand how elements are visually displayed on a web page, as well as what different elements mean semantically.

  %p Using the proper element for the job goes a long way, and we’ll want to make well-informed decisions in the process.

%pre.line-numbers
  %code.language-css
    :preserve
      #heart::after, #echo::after {
        left: 0;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
      }
