// --------------------------------------------
// ### Extends
// --------------------------------------------

.module {
  border: 1px solid $gray--light;
  position: relative;
  z-index: 1;
  background-color: darken($gray--light, 10%)
}

.module--full {
  @extend .module;
  width: 100%;
}

.module__text {
  padding: 1em;

  header {
    margin-bottom: .579em;
  }
}

.module__image {

  img,
  iframe {
    width: 100%;
  }
}

.module__heading {
  @extend .scale--4;

}

.module__subhead {
  @extend .scale--6;
  color: darken($gray, 25%);
}

.module__label {
  @extend %label;
}

.module__logo {
  max-width: 20px;
  display: inline-block;
  margin-right: $gutter;

  img {
    width: 100%;
  }
}

.module__masthead {
  display: flex;
  flex-direction: row;
  background-color: darken($gray--light, 20%);
  padding: $gutter/2;
}
